<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block header %}
            {% include 'components/_header.html.twig' %}
        {% endblock %}

        {% block nav %}
            {{ render(controller('App\\Controller\\User\\CategoryController::getPopularCategories')) }}
        {% endblock %}

        <main class="container my-4 d-flex flex-column gap-4">
            {% block main %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'components/_footer.html.twig' %}
        {% endblock %}
    {% endblock %}

    <div class="toast-container position-fixed bottom-0 end-0 mb-3 me-3">
        {% for label, contents in app.flashes %}
            {% for content in contents %}
                {% include 'components/flash/_flash.html.twig' with {
                    label: label,
                    content: content
                } %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
