<div class="col-md-5 flex-grow-1">
    <div class="h-100 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column gap-2 position-static">
            <strong class="d-inline-block text-primary">{{ post.categories|join(' - ') }}</strong>
            <h3 class="mb-0">{{ post.title }}</h3>
            <div class="text-muted">{{ post.publishedAt|date|format_datetime('long', 'none', locale='en') }}</div>
            <p class="mb-auto">{{ post.description }}</p>
            <a href="{{ path('app_post_show', { id: post.id }) }}" class="stretched-link">Continue reading...</a>
        </div>
    </div>
</div>
